<div class="form-and-output-wrapper">
  <div class="request-form">
    <button id="api-request-btn" type="button" name="button">Request</button>
  </div>

  <div class="output-wrapper">
    <textarea id="api_output" name="name" rows="80" cols="40"></textarea>
  </div>

</div>
